<form>
	<table class="nolayout">
		<tr>
			<td>Label</td>
			<td><input type="text" name="t1"/></td>
		</tr>
		<tr>
			<td>Choice</td>
			<td>
				<input type="radio" name="select" id="select1" value="select1" checked><input type="text" value="" name="value1" id="value1">
				<br>
				<input type="radio" name="select" id="select1" value="select2" checked><input type="text" value="" name="value2" id="value2">
				<br>
				<input type="radio" name="select" id="select1" value="select3" checked><input type="text" value="" name="value3" id="value3">
				<br>
				<input type="radio" name="select" id="select1" value="select4" checked><input type="text" value="" name="value4" id="value4">
			</td>
		</tr>
	</table>
</form>